.colorBox {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-areas:
     "header header header"
     "content section sidebar"
     "footer footer sidebar";
}

#green {
    grid-area: header;
}

#yellow {
    grid-area: content;
}

#red {
    grid-area:section;
}

#blue {
    grid-area: sidebar;
}

#orange {
    grid-area: footer;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

  